<div>
  <%= image_tag @book.get_image %>
  <p>ショップ名：<%= @book.title %></p>
  <p>説明：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <!--post_image.user.get_profile_imageと記述することで、投稿画像に紐づいたユーザーの投稿ユーザー画像を表示-->
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <p>投稿日：<%= @book.created_at.strftime('%Y/%m/%d') %></p>
  <!--'%Y/%m/%d'の記述で、年/月/日のフォーマットへ変換-->
  <% if @book.user == current_user %>
  <!--もし、投稿者 == 現在ログインしているユーザ だったら-->
  <!--詳細画面に削除を実行するためのリンクを追記-->
    <%= link_to "削除", book_path(@book), method: :delete %>
    <!--削除ボタン-->
  <% end %>
</div>